<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Twitter Friends Map</title>
    <style>
        #wrapper{
            margin: auto;
            margin-top: 200px;
            width: 300px;
            padding: 20px;
            border: 3px solid black;
            background-color:beige;
        }
        input{
            width: 200px;
            font-size: large;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <form>
            <input type="text" name="" id="username" placeholder="Enter Twitter Username">
            <br>
            <input type="submit" id='submit' value="Generate the Map!" formaction="/index">
        </form>
    </div>
    <script>
        const submit_button = document.getElementById('submit');
        const username = document.getElementById('username');
        username.addEventListener('change', change_endpoint);
        function change_endpoint(){  
            submit_button.setAttribute('formaction', `/map/${username.value}`);
            // alert(`username is now /map/${username.value}`);
        }
    </script>
</body>
</html>